
MyLearn/MyLearn.xcodeproj/xcuserdata/jianhuazhang.xcuserdatad/xcschemes/xcschememanagement.plist
MyLearn/MyLearn.xcodeproj/project.xcworkspace/xcuserdata/jianhuazhang.xcuserdatad/UserInterfaceState.xcuserstate
MyLearn/MyLearn.xcworkspace/xcuserdata/gmi.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
*.xcuserstate
